/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /**
   * colors
   */

  /* /////////////////// */
  --black-00: hsl(0, 0%, 14%);
  --blue-00: hsl(190, 95%, 45%);
  --blue-01: hsl(223, 48%, 52%);
  --gray-00: hsl(0, 0%, 29%);
  --gray-01: hsl(0, 0%, 91%);
  --gray-02: hsl(0, 0%, 49%);
  --green-00: hsl(165, 83%, 43%);
  --red-00: hsl(0, 100%, 95%);
  --red-01: hsl(353, 34%, 53%);
  --red-02: hsl(6, 83%, 63%);
  --white-00: hsl(0, 0%, 100%);
  --yellow-00: hsl(38, 100%, 64%);
  --yellow-01: hsl(57, 100%, 50%);
  /**
   * gradient color
   */
  --gradient: linear-gradient(to right, transparent 50%, var(--white_30) 100%);

  /**
   * typography
   */
  /* font-family */
  --ff-poppins: "Roboto", sans-serif;
  /* font-size */
  --fs-8: 0.5rem;
  --fs-9: 0.5625rem;
  --fs-10: 0.625rem;
  --fs-11: 0.6875rem;
  --fs-12: 0.75rem;
  --fs-40: 2.5rem;
  /* font-weight */
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;
  --fw-b: bold;

  /**
   * spacing
   */
  --padding-6: 0.375rem;
  --padding-8: 0.5rem;
  --padding-12: 0.75rem;
  --padding-13: 0.8125rem;
  --padding-14: 0.875rem;
  --pading-15: 0.9375rem;
  --padding-16: 1rem;
  --padding-20: 1.25rem;
  --padding-320: 20rem;

  --margin-8: 0.5rem;
  --margin-15: 0.9375rem;
  --margin-25: 1.5625rem;
  --margin-35: 2.1875rem;
  --margin-160: 9.975rem;
  --margin-200: 12.5rem;
  --margin-300: 18.75rem;
  --width-20: 20px;
  /**
   * shadow
   */
  --shadow-1: 0 8px 16px var(--black_15);

  /**
   * radius
   */

  --radius-50: 50px;

  /**
   * transition
   */
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 1s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--white-00);
  color: var(--black-00);
  font-size: var(--fs-12);
  font-weight: var(--fw-500);
  line-height: 1.6;
}
html {
  font-family: var(--ff-roboto);
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/
.alert {
  background-color: var(--red-00);
  color: var(--red-01);
  padding-top: var(--padding-8);
  padding-bottom: var(--padding-8);
}
.alert-text {
  text-transform: uppercase;
  font-size: var(--fs-12);
  text-align: center;
  font-weight: var(--fw-500);
}
.header-top {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-20);
  margin: 0 var(--margin-300);
}

.header-top-right-content {
  font-weight: var(--fw-600);
  text-transform: uppercase;
  font-size: var(--fs-12);
  text-align: right;
  margin-bottom: var(--margin-15);
}
.header-top-right-action {
  display: flex;
  float: right;
  text-align: right;
  text-transform: capitalize;
  font-weight: var(--fw-400);
}

.header-top-right-action-item-middle,
.header-top-right-action-item-end {
  margin-left: var(--margin-8);
}
.action-item {
  margin-left: var(--margin-8);
  text-decoration: none;
}

.count-shopping-cart {
  background-color: var(--red-00);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  /* line-height: 20px; */
  text-align: center;
  margin-left: var(--margin-8);
}
.menu-sticky {
  background-color: var(--black-00);
  position: relative;
}
.menu-container {
  margin: 0 auto;
  padding: 0 var(--padding-320);
}

.menu-container-list {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  text-transform: uppercase;
  list-style: none;
}

.menu-container-list-item {
  margin-right: var(--margin-35);
  padding-top: var(--padding-13);
  padding-bottom: var(--padding-12);
}
.list-item-link {
  color: white;
  text-decoration: none;
  font-weight: var(--fw-600);
}
.ribbon-sale {
  background-color: var(--red-02);
  height: 16.6px;
  width: 33.24px;
  bottom: 35px;
  left: 72px;
  /* margin: 50px; */
  position: relative;
  box-shadow: var(--shadow-1);
}
.ribbon-sale:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 13px;
  width: 8px;
  height: 8px;
  background-color: var(--red-02);
  transform: rotate(45deg);
}
.text-ribbon {
  position: absolute;
  color: var(--white-00);
  font-size: var(--fs-11);
  font-weight: var(--fw-600);
  text-transform: capitalize;
  padding: 0 var(--padding-6);
}
.ribbon-new {
  background-color: var(--blue-00);
  height: 16.6px;
  width: 33.24px;
  bottom: 35px;
  left: 25px;
  /* margin: 50px; */
  position: relative;
  box-shadow: var(--shadow-1);
}
.ribbon-new:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 8px;
  height: 8px;
  background-color: var(--blue-00);
  transform: rotate(45deg);
}
.ribbon-hot {
  background-color: var(--yellow-00);
  height: 16.6px;
  width: 33.24px;
  bottom: 35px;
  left: 100px;
  /* margin: 50px; */
  position: relative;
  box-shadow: var(--shadow-1);
}
.ribbon-hot:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 8px;
  height: 8px;
  background-color: var(--yellow-00);
  transform: rotate(45deg);
}
/*-----------------------------------*\
  #MOBILE NAVBAR
\*-----------------------------------*/

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/
.container-hero {
  position: relative;
}
.container-hero .wrap {
  width: 60vw;
  height: 75vh;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  margin: 5rem auto;
  overflow: hidden;
}
.container-hero .wrapper-holder {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  height: 100%;
  width: 100%;
  animation: slider 30s ease-in-out infinite alternate;
}
.container-hero #hero-1 {
  background-position: center;
}
.container-hero #hero-2 {
  background-position: center;
}
.container-hero #hero-3 {
  background-position: center;
}

.container .button-holder .button {
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  display: inline-block;
  margin: 0.3rem;
}
.container .button-holder {
  position: absolute;
  left: 45%;
  bottom: 0%;
}
.button:hover {
  box-shadow: 0px 0px 7px 4px rgba(0, 255, 255, 0.6);
}
@keyframes slider {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(-100%);
  }
  20% {
    transform: translateX(-100%);
  }
  30% {
    transform: translateX(-200%);
  } /* 
  40% {
    transform: translateX(-200%);
  }
  50% {
    transform: translateX(-200%);
  }
  60% {
    transform: translateX(-300%);
  }
  70% {
    transform: translateX(-300%);
  }
  80% {
    transform: translateX(-300%);
  }
  90% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  } */
}

#hero-1,
#hero-2,
#hero-3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.container {
  padding: 25px 30px;
  text-align: center;
  position: absolute;
  left: 20%;
}
.hero-title {
  margin-bottom: 20px;
  padding-bottom: 12px;
  /* display: block; */
  text-transform: uppercase;
  font-size: var(--fs-40);
  font-weight: 300;
  line-height: 1.5;
  position: relative;
}

.hr-bottom-hero-title {
  width: 40px;
  margin: 0 auto;
  border: 2px solid var(--black-00);
  position: absolute;
  left: 45%;
  top: 70px;
}
.hero-text {
  color: hsl(0, 0%, 27%);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.8;
  max-width: 51ch;
  margin-bottom: 35px;
  font-weight: 600;
}
.btn {
  background-color: black;
  color: white;
  font-size: 13px;
  padding: 13px 35px 12px;
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  width: fit-content;
  margin: 0 auto;
}
.btn:hover {
  background-color: var(--white-00);
  color: var(--black-00);
  transition: 0.3s ease;
}
/*-----------------------------------*\
  #THEMEVALE
\*-----------------------------------*/
.section-themevale {
  padding-top: 30px;
  padding-bottom: 50px;
}
.container-section-themevale {
  /* width: 100%; */
  /* margin: 0; */
  padding: 0 15px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.themevale-collection {
  display: flex;
  width: auto;
  max-width: none;
}
.item-collection {
  padding: 0 15px;
  text-align: center;
  position: relative;
  font-size: 1rem;
  color: white;
}
.item-collection:hover {
  font-style: underline;
}
.image-wrapper {
  display: block;
  overflow: hidden;
  position: relative;
} /* width: 100%; */
/* .content-wrapper a {
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: block;
 
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: 700;
  letter-spacing: 0.05rem;
} */
/* .content-wrapper a:before {
  content: "";
  position: absolute;
  bottom: 12px;
  height: 1px;
  width: 0;
  background-color: white;
  border-radius: 50px;
  transition: width 0.3s ease;
}
.content-wrapper a:hover:before {
  width: 80%;
  align-content: center;
} */
.content-wrapper a {
  position: absolute;
  text-decoration: none;
  color: #a0a0a0;
  letter-spacing: 0.5px;
  padding: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: block;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  letter-spacing: 0.05rem;
}
.content-wrapper a:after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  height: 1px;
  width: 0;
  left: 0;
  bottom: 1px;
  transition: 0.3s;
}
.content-wrapper a:hover {
  color: #ffffff;
}
.content-wrapper a:hover:after {
  width: 100%;
}
/*-----------------------------------*\
  #COLLECTION
\*-----------------------------------*/
.container-collection {
  display: flex;
  justify-content: center;
  align-items: center;
}
.collections-title {
  font-size: 20px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 2.4fr 1fr 2.4fr;
  align-items: center;
  column-gap: 8rem;
}
.collections-title:before,
.collections-title:after {
  content: "";
  height: 2px;
  background-color: #000;
  display: inline-block;
}
.view-all {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
.view-all a {
  position: relative;
  text-decoration: none;
  color: black;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  padding: 0 10px;
}
.view-all a:after {
  content: "";
  position: absolute;
  background-color: black;
  height: 1px;
  width: 0;
  left: 0;
  bottom: -2px;
  transition: 0.3s;
}
.view-all a:hover {
  color: black;
}
.view-all a:hover:after {
  width: 90%;
}
.container-collection-items {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0;
}
.card {
  height: 500px;
  width: 280px;
  overflow: hidden;
  position: relative;
  margin: 20px;
}
.card img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.card .info {
  text-align: center;
  line-height: 25px;
}
.card .info h3 {
  color: #333;
  padding-top: 5px;
}
.card .info .stars i {
  color: gold;
  padding: 10px 0;
}
.card .info .price {
  font-size: 20px;
  color: #f00333;
  letter-spacing: 1px;
}
.card .discount {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 50px;
  width: 50px;
  display: block;
  background-color: rgba(255, 0, 0, 0.6);
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
}
.card .panel {
  position: absolute;
  top: 15px;
  right: -50%;
  width: 45px;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  flex-flow: column;
  opacity: 0;
}
.card:hover .panel {
  right: 15px;
  opacity: 1;
}
.card .panel a {
  font-size: 20px;
  color: #333;
  margin: 15px 0;
}
.card .panel a:hover {
  color: rgba(255, 0, 0, 0.9);
}
.card button {
  position: absolute;
  left: 50%;
  bottom: 0%;
  width: 140px;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 15px;
  transform: translateX(-50%);
  font-weight: 600;
  cursor: pointer;
  opacity: 0;
  transition-delay: 0.2s;
}
.card:hover button {
  opacity: 1;
  bottom: 25%;
}
.card button:hover {
  background: rgba(255, 0, 0, 0.6);
}
/*-----------------------------------*\
  #SHOP
\*-----------------------------------*/

/*-----------------------------------*\
  #BANNER
\*-----------------------------------*/

/*-----------------------------------*\
  #FEATURE
\*-----------------------------------*/

/*-----------------------------------*\
  #OFFER
\*-----------------------------------*/

/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 575px screen
 */

/**
   * HEADER
   */

/**
   * HERO
   */

/**
   * BANNER
   */

/**
   * OFFER
   */

/**
 * responsive for larger than 768px screen
 */

/**
   * CUSTOM PROPERTY
   */

/**
     * typography
     */

/**
   * REUSED STYLE
   */

/**
   * COLLECTION
   */

/**
   * BANNER
   */

/**
   * OFFER
   */

/**
   * FOOTER
   */

/**
 * responsive for larger than 992px screen
 */

/**
   * CUSTOM PROPERTY
   */

/**
     * spacing
     */

/**
   * REUSED STYLE
   */

/**
   * COLLECTION
   */

/**
   * BANNER
   */

/**
   * OFFER
   */

/**
   * FOOTER
   */

/**
 * responsive for larger than 1200px screen
 */

/**
   * REUSED STYLE
   */

/**
   * HEADER
   */

/**
   * HERO
   */

/**
   * BANNER
   */

/**
   * FEATURE
   */

/**
   * OFFER
   */
